# Feature Engineering Assignment-3

Q1. What is data encoding? How is it useful in data science?

Data encoding refers to the process of converting data from one form to another.Encoding is relavant in handling categorical data.Categorical data consists of labels or categories and can be divided into two main types: nominal and ordinal. Nominal data has categories with no inherent order, while ordinal data has categories with a meaningful order.Data encoding is essential in data science for many reasons such as :-

1) Numerical Representation : many machine learnings algorithms require numerical inputs.By data encoding we can covert categorical data into numerical data without making any more efforts.

2) Improve Model performence: Encoding categorical variable to convert them into numerical variable.It will increase model performence for sure because computer is very dumb machine it doesn't understand words or text,it only understand numerical values so we convert them into a numerical values.It will be easy for our model to do computing and will give you best result for sure.

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding is a type of data encoding.One-hot encoding is a method of representing catorical values as binary vectors.Each category is represented by binary vetors.In my mind read-world scenario is suppose we working on a project where we have to predict house price so we have many feature in our dataset like [house size , no.room , city names]etc.So here city names is a caterical data in this feature we have different cities names like [indore, pune, mumbai, delhi, bhopal etc].So this feature is a nominal categories we don't need arrange them into a specific order.We can  use one-hot coding on city names to convert them into a binary vectors and after using one-hot encoding our feature will look something like this.

Indore:[0,0,1,0,0]

pune:[1,0,0,0,0]

mumbai:[0,1,0,0,0]

delhi:[0,0,0,0,1]

bhopal:[0,0,0,1,0]

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

 one-hot encoding is generally preferred in situations where the categorical variable has no inherent order, and each category is considered equally distinct.
 
let's consider we have a dataset in which we have information about different cities including a categorical feature named "cities" with categories like "indore" ,"pune" , "mumbai" , "bhopal" , "delhi".cities are nominal there is no inherent order,one-hot encoding is prefered.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

If i have a dataset that containing data with 5 unique values in this kind of condition i will definitely go with one-hot coding.One-hot coding is suitable when dealing with nominal categorical data where the categorical data has no ranking.Each category is represented by binary vectors.One-hot encoding provides a flexible representation that doesn't impose any numerical relationships between categories.One-hot encoding helps avoid any misinterpretation of ordinal relationships. If you use label encoding on nominal data, the model might mistakenly assume an order that doesn't exist.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

Given that you have 1000 rows and 5 columns, and two of them are categorical, the other three must be numerical. Let's denote the number of unique categories in "Category1" as 'm' and in "Category2" as 'n.'

So, in this case:


Number of new columns=(m−1)+(n−1)

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

In this kind of dataset in we have containing information about different types of animals, including their species,habitat and diet.As we can see here species , habitat and diet these all are nominal data.In my opinion we should one-hot coding.

Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In this kind of dataset where we have a 5 features including the customer's gender,age,contract type,monthly charges,tenure.So out  of 5 features 2 features are categorical gender and contract type.

Gender (Binary Nominal):

Since gender is binary (male or female), you can use label encoding or binary encoding. In this case, label encoding might be a simple choice, where you assign 0 for one gender and 1 for the other.

In [12]:
# Example 

#here i made a sample column of  gender

data={"gender":["male","female","male","male","female"],
     "contract_type":["one year","two year","three year","four year","five month"]}

df=pd.DataFrame(data)


import pandas as pd
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()
df['gender_encoded'] = le.fit_transform(df['gender'])

#Contract type(nominal)

df = pd.get_dummies(df, columns=['contract_type'], prefix='contract')

In [13]:
df

,gender,gender_encoded,contract_five month,contract_four year,contract_one year,contract_three year,contract_two year
0,male,1,0,0,1,0,0
1,female,0,0,0,0,0,1
2,male,1,0,0,0,1,0
3,male,1,0,1,0,0,0
4,female,0,1,0,0,0,0